<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">E Commerce</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/category/Men" routerlinkActive="active">Men</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/category/Women" routerlinkActive="active">Women</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/aboutUs" routerLinkActive="active">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="userService.roleMatch(['Admin'])" routerLink="/admin" routerLinkActive="active">Admin Dashboard</a>
          </li>
        </ul>
        <nav class="navbar navbar-dark bg-dark">
          <form class="container-fluid justify-content-start">
            <button *ngIf="isLoggedIn() && userService.roleMatch(['User'])" class="btn btn-outline-warning me-2" routerLink="/cart" routerLinkActive="active" type="button"><fa-icon [icon]="faTag"></fa-icon>Cart</button>
            <button *ngIf="isLoggedIn() && userService.roleMatch(['User'])" class="btn btn-outline-info me-2" routerLink="/orderDetails" routerLinkActive="active" type="button">View Orders</button>
            <button *ngIf="!isLoggedIn()" class="btn btn-outline-success me-2" routerLink="/login" routerLinkActive="active" type="button">Login</button>
            <button *ngIf="isLoggedIn()" class="btn btn-outline-danger me-2" (click)="logout()" routerLinkActive="active" type="button">Logout</button>
          </form>
        </nav>
      </div>
    </div>
  </nav>
