.admin .card{
    border: 1px solid-red;
}

.admin .card:hover{
    background:#e2e2e2;
    cursor:pointer;
}

td , th {
    white-space: normal;
    word-wrap: break-word;
    max-width: 200px;
    text-align: center;
}
table {
    width: 100%;
  }