.dis-price {
    text-decoration: line-through;
    font-style: italic;
    font-size: 1.3em;
    margin-bottom: 10px;
}
.act-price {
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 1.3em;
    margin-bottom: 10px;
}