<div class="container-fluid">
  <h1 class="display-5">{{title}}</h1>
    <div class="row mt-3 mb-3" >
        <div class="col-md-3" *ngFor="let f of datasource">
            <div class="card" style="width: 18rem;">
                <img [src]= "f.imageData.url" class="card-img-top" width="200px" height="280px">
                <div class="card-body">
                  <h5 class="card-title">{{f.type}}  <span style="float: right ; color: green;"> Price : Rs {{f.price}}</span> </h5>
                  <p class="card-text">{{f.description}}</p>
                  <p class="card-text">{{f.subDescription}}</p>
                  <button class="btn btn-primary" (click) = "viewProduct(f)">View Product</button> 
                </div>
              </div>
        </div>
    </div>
</div>
