<!-- <div class="container">
  <div class="card">
    <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Username</mat-label>
        <input
          matInput
          ngModel
          name="userName"
          id="userName"
          placeholder="Enter your username"
        />
        <p *ngIf="displayUserNameError" style="color: red; font-size: medium;">{{userNameErrorMessage}}</p>
      </mat-form-field>

      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Firstname</mat-label>
        <input
          matInput
          ngModel
          name="firstName"
          id="firstName"
          placeholder="Enter your firstname"
        />
      </mat-form-field>

      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Lastname</mat-label>
        <input
          matInput
          ngModel
          name="lastName"
          id="lastName"
          placeholder="Enter your lastname"
        />
      </mat-form-field>

      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Enter your email</mat-label>
        <input
          matInput
          placeholder="pat@example.com"
          ngModel
          name="emailAdd"
          id="emailAdd"
          [formControl]="email"
          required
        />
        <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Enter your password</mat-label>
        <input
          type="password"
          matInput
          ngModel
          name="userPassword"
          id="userPassword"
          [type]="hide ? 'password' : 'text'"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
      <button
        class="w-100 mb-3"
        type="submit"
        mat-raised-button
        color="primary"
      >
        Register
      </button>
    </form>
  </div>
</div> -->

<div class="page-holder align-items-center py-4 bg-gray-100 vh-100">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-xl-5 ms-xl-auto px-lg-4 text-center text-primary"><img class="img-fluid mb-4" src="../assets/images/bg_1.jpg" alt="" style="border-radius: 5%;">
        <h1 class="mb-4">FlipZon <br class="d-none d-lg-inline">One Stop Solutions</h1>
          <p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
      </div>
      <div class="col-lg-6 px-lg-4">
        <div class="card">
          <div class="card-header px-lg-5">
            <div class="card-heading text-primary">Come join our Family</div>
          </div>
          <div class="card-body p-lg-5">
            <h3 class="mb-4">Get started with Chamkila</h3>
            <p class="text-muted text-sm mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
            <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
              <div class="form-floating mb-3">
                <input class="form-control" ngModel id="userName" name="userName" type="email" required>
                <label for="username">Username</label>
              </div>
              <div class="form-floating mb-3">
                <input class="form-control" ngModel id="firstName" name="firstName" type="email" required>
                <label for="username">First name</label>
              </div>
              <div class="form-floating mb-3">
                <input class="form-control" ngModel id="lastName" name="lastName" type="email" required>
                <label for="username">Last name</label>
              </div>
              <div class="form-floating mb-3">
                <input class="form-control" ngModel id="emailAdd" name="emailAdd" type="email" placeholder="name@example.com" required>
                <label for="floatingInput">Email address</label>
              </div>
              <div class="form-floating mb-3">
                <input class="form-control" ngModel id="userPassword" name="userPassword" type="password" placeholder="Password" required>
                <label for="floatingPassword">Password</label>
              </div>
              <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" name="agree" id="agree">
                <label class="form-check-label" for="agree">I agree with the <a href="#">Terms & Conditions</a>.</label>
              </div>
              <div class="form-group">
                <button class="btn btn-primary" type="submit">Register</button>
              </div>
            </form>
          </div>
          <div class="card-footer px-lg-5 py-lg-4">
            <div class="text-sm text-muted">Already have an account? <a (click)="userlogin()">Login</a>.</div>
          </div>
        </div>
      </div>
